In [17]:
import requests
import pandas as pd

In [18]:
BASE = "http://localhost:8013"

##### 1. List all tables

In [19]:
resp = requests.get(f"{BASE}/tables")
print("Status code:", resp.status_code)
print("Response text:", resp.text)

Status code: 200
Response text: ["chemical_gene_association_ctd","chemical_master_table_ctd","chemical_disease_association_ctd","disease_master_table_ctd","gene_master_table_ctd","gene_pathway_association_ctd","disease_pathway_association_ctd","pathway_master_table_ctd"]

##### 2. Get one table, e.g. pathway_master_table_ctd

In [20]:
table_name = "chemical_master_table_ctd"
resp2 = requests.get(f"{BASE}/table/{table_name}")
data = resp2.json()    # this is list of dicts
df = pd.DataFrame(data)
df.head()

                                           drug_name     drug_id      cas_rn
0  5-carboxy-1,1,3,3-tetramethylisoindolin-2-ylox...     C499783        None
1                             abietyl-isothiocyanate     C575865        None
2  (1S,32R,5S,6R,7R)-6-((R)-3,4-di-hydroxy-4-meth...  C000591806        None
3                                         fumagillin     C026211  23110-15-8
4                                         Herbicides     D006540        None